@font-face {
  font-family: 'ITC Avant Garde Gothic Std';
  src: url('/assets/fonts/ITCAvantGardeStd-BkObl.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'ITC Avant Garde Gothic Std';
  src: url('/assets/fonts/ITCAvantGardeStd-BoldObl.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}
